
@import url('https://fonts.googleapis.com/css?family=Lato:700');

@import url('https://fonts.googleapis.com/css?family=Lora');

html {
    background: url(imgs/dictionary.jpg) 0 0 no-repeat;
    background-size: cover;
}

.title{
    text-align: center;
    font-size: 50px;
    text-shadow: 3px 3px black;
    color: white;
    font-family: "Lato", sans-serif;
}

h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 3px 3px black;
    color: white;
    font-family: "Lato", sans-serif
}
#mainContainer{
    display: flex;
    justify-content: center;
    
    
}


#searchContainer{
    text-align: center;
    /*margin: 20px;*/
    /*justify-content: space-around;*/
    /*padding: 15px;*/
    background-color: gray;
    border: 2px solid black;
    border-radius: 20px;
    height: 90px;
    
    
    width: 560px;
    display: flex;
    justify-content: center;
    
}

#input{
    text-align: left;
    height: 50px;
    width: 400px;
    background: white;
    font-size: 30px;
    font-style: italic;
    /*float: left;*/
    margin: 12px;
    color: black;
    font-family: "Lora", sans-serif;
    
    
}

#searchContainer button {
    cursor: pointer;
    height: 56px;
    width: 100px;
    float: right;
    background-color: orange;
    margin: 12px;
}

#searchResult{
    text-align: center;
    font-size: 30px;
     width: 50%;
    padding: 20px 0;
    margin: 30px auto;
    border-radius: 10px;
     font-family: "Lora", sans-serif;
     color: white;
}

.found {
    display: block;
    background :green;
    border: 3px solid black;
    
    
}

.missing{
   display: block;
    background :red;
    border: 3px solid black;
}